body {
  background-color: #000000;}
main,footer {
  border-width: medium;
  border-color: #dddddd;
  background-color: inherit;
  margin-left: 175px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

h3 {
  color: #dddddd;
}

/*Navigation sidebar rules*/
header {
  height: 100%; 
  width: 175px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: #333333;
  overflow-x: hidden; /* Disables horizontal scorlling within the nav sidebar */
  padding-top: 20px;
}

header a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 23px;
  color: #818181;
  display: block;
}

header a:hover {
  color:#00c800;
}
/*****************/
/* For the attractions seciton of the page*/

#attractions p, #attractions li{
  font-size: 20px;
}
#attractions img {
  padding-top: 27px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  flex: auto;
  background-color: green;
}

#attractions ul {
  background-color: gold;
}

#attractions p{
  background:gold;
}
/*********************/

/*footer style rules*/

footer p {
  color: #ffffff;
}